    <div>
        <div id="legenda-status-renegociacao-vue">
            <legenda-status-renegociacao-vue />
        </div>
    </div>

<script>
    new Vue({
        el: '#legenda-status-renegociacao-vue'
    })
</script>

<script src="~/js/Renegociacao/legendaStatusRenegociacaoVue.js"></script>