<div id="hr5" class="tab-pane fade in no-padding">
     <div id="id-titulos-visualizar-contrato-vue">
        <titulos-visualizar-contrato-vue contrato-id="@Model.ContratoId" empresa-id="@Model.IdEmpresa"/>
    </div>
</div>

<script src="~/js/contrato/VisualizarTitulosVue.js"></script>